@font-face {
    font-family: UniThin;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/UniThin/UniThin.eot);
    src: url(../fonts/UniThin/UniThin.eot?#iefix) format("embedded-opentype"), url(../fonts/UniThin/UniThin.ttf) format("truetype")
}

@font-face {
    font-family: UniHeavy;
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/UniHeavy/UniHeavy.eot);
    src: url(../fonts/UniHeavy/UniHeavy.eot?#iefix) format("embedded-opentype"), url(../fonts/UniHeavy/UniHeavy.ttf) format("truetype")
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    min-width: 320px;
    line-height: 1.65;
    font-family: UniHeavy, sans-serif;
    overflow-x: hidden;
    background-color: #0a0001;
    text-align: center
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.elements {
    width: 120px;
    display: flex;
    background-color: #efeef3;
    z-index: 100;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-shadow: #0a0001 0 0 5px;
    box-shadow: 0 0 12px #efeef3;
    -webkit-box-shadow: 0 0 12px #efeef3;
    border-radius: 0 0 9px 9px;
    -webkit-border-radius: 0 0 9px 9px;
}

.elements > div {
    margin: 0 5px 0 5px;
}

.elements:nth-child(1) a:hover {
    color: #7220a3;
    text-shadow: #7220a3 0 0 5px
}

p {
    font-size: 3em;
    margin-top: .5vh;
    margin-bottom: .5vh
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    transition: all ease-in .3s
}

a:hover {
    text-decoration: none;
    color: #efeef3;
    text-shadow: #efeef3 0 0 5px
}

.big {
    font-size: 7em;
    line-height: 1.2
}

.rectangle {
    width: 300px;
    height: 30px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 15px
}

.section {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
}

.first {
    color: #efeef3;
    text-shadow: #efeef3 0 0 5px
}

.first .rectangle {
    background-color: #efeef3;
    -webkit-box-shadow: 0 0 12px #efeef3;
    box-shadow: 0 0 12px #efeef3
}

.second {
    color: #f4f325;
    text-shadow: #f4f325 0 0 5px
}

.second .rectangle {
    background-color: #f4f325;
    -webkit-box-shadow: 0 0 12px #f4f325;
    box-shadow: 0 0 12px #f4f325
}

.third {
    color: #fc2b05;
    text-shadow: #fc2b05 0 0 5px
}

.third .rectangle {
    background-color: #fc2b05;
    -webkit-box-shadow: 0 0 12px #fc2b05;
    box-shadow: 0 0 12px #fc2b05;
    text-shadow: #0a0001 0 0 5px;
    color: #0a0001;
    height: auto;
    font-size: 1.5em
}

.fourth {
    color: #7220a3;
    text-shadow: #7220a3 0 0 5px
}

.fourth .rectangle {
    background-color: #7220a3;
    -webkit-box-shadow: 0 0 12px #7220a3;
    box-shadow: 0 0 12px #7220a3;
    text-shadow: #0a0001 0 0 5px;
    color: #0a0001;
    height: auto;
    font-size: 1.5em
}

.fifth {
    color: red;
    text-shadow: red 0 0 5px;
    display: flex;
    flex-direction: column;
}

.fifth .rectangle {
    background-color: red;
    -webkit-box-shadow: 0 0 12px red;
    box-shadow: 0 0 12px red;
    text-shadow: #0a0001 0 0 5px;
    color: #0a0001;
    height: auto;
    font-size: 1.5em;
}

.soc {
    font-size: 2em;
    margin-top: 50px;
}

.soc a {
    margin: 0 40px 0 40px;
}

.powered {
    margin-top: 50px;
    white-space: nowrap
}

.powered .rectangle {
    height: 16px;
    width: auto;
    font-size: .7rem
}

.portfolio {
    position: fixed;
    display: none;
    right: 0;
    left: 0;
    margin-top: -350px
}

.portfolio .bg {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #efeef3;
    -webkit-box-shadow: 0 0 12px #efeef3;
    box-shadow: 0 0 12px #efeef3;
    margin: 0 auto;
    height: 265px;
    width: 400px
}

#like {
    cursor: pointer;
    -webkit-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    transition: all ease-in .3s
}

#like .fa-heart {
    -webkit-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    transition: all ease-in .3s
}

#like .fa-heart:hover {
    color: #efeef3;
    text-shadow: #efeef3 0 0 10px
}

.counter {
    -webkit-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    transition: all ease-in .3s
}

.article {
    text-align: left;
    color: #efeef3;
    text-shadow: #efeef3 0 0 2px
}

.article span {
    font-family: UniThin, sans-serif
}

.blog {
    color: #efeef3;
    text-shadow: #efeef3 0 0 2px;
    font-size: 4em
}

.blog p {
    margin-top: 0
}

.cnt {
    margin-top: 50px
}

.soc1 {
    color: #efeef3;
    text-shadow: #efeef3 0 0 2px;
    margin-top: 140px
}

.soc1 a:hover {
    color: #fc2b05;
    text-shadow: #fc2b05 0 0 5px
}

@media (max-width: 768px) {
    .first .big {
        font-size: 5em
    }
}

@media (max-width: 576px) {
    .blog {
        font-size: 2.5em
    }

    body {
        font-size: 12px
    }

    .first .big {
        font-size: 45px
    }

    .rectangle {
        width: 250px
    }

    .portfolio {
        position: fixed;
        right: 0;
        left: 0;
        margin-top: -250px
    }

    .portfolio .bg {
        background: #efeef3;
        margin: 0 auto;
        height: 203px;
        width: 300px
    }
}