<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <base href="/">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <meta property="og:image" content="path/to/image.jpg">
        <meta name="theme-color" content="#000">

        <title>
            {% block title %}
                Dev Portf
            {% endblock %}
        </title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}

    </head>
    <body>
        {% block body %}

            <div class="navbar">
                <div class="elements">
                    <div><a href="#">Меню</a></div>
                    <div><a href="#">Блог</a></div>
                </div>
            </div>

            <div id="fullpage">

                <div class="section first">
                    <div>
                        <p class="big">Здравствуй</p>
                        <p>это мой сайт</p>
                        <p>и блог</p>
                        <p class="rectangle"></p>
                    </div>
                </div>

                <div class="section second">
                    <div>
                        <div>
                            <p class="big">Я<br>i</p>
                            <p>начинающий<br>разработчик<br>
                            <p class="rectangle"></p>
                        </div>
                    </div>
                </div>

                <div class="section third">
                    <div>
                        <div>
                            <p class="big">Блог<br>i</p>
                            <p>для изучения<br>английского<br>
                            <p class="rectangle">
                                <a href="blog.php">блог</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="section fourth">
                    <div>

                        <div class="col-12">
                            <p class="big">Обо мне<br>i</p>
                            <p>для просмотра<br>портфолио<br><p class="rectangle">
                                <a href="" class="modal">Посмотреть</a>
                            </p>

                            <div class="portfolio">
                                <div class="bg">
                                    <h2>Кто я?</h2>
                                    <span>Студент факультета РФиКТ в бгу<br>начинающий разработчик<br>и активный парень</span>
                                    <h2>Мои навыки</h2>
                                    <span>HTML, CSS, JS, Photoshop, Gulp, C++</span>
                                    <p class="rectangle">
                                        <a href="" class="close-modal">Закрыть</a>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="section fifth">
                    <div>
                        <p class="big">
                            Лайк<br>
                            <span id="like">
                                <i class="fas fa-heart fa-2x"></i>
                            </span>
                            <p class="rectangle counter">0</p>
                    </div>
                    <div class="soc">
                        <a href="https://vk.com/id146400367">Vk</a>
                        <a href="https://github.com/Monomarh">Github</a>
                    </div>
                    <div class="powered">
                        <p class="rectangle">powered by ruslan</p>
                    </div>
                </div>
            </div>

            {% block javascripts %}
                <script src="{{ asset('build/app.js') }}"></script>
                <script src="{{ asset('build/runtime.js') }}"></script>
            {% endblock %}

        {% endblock %}
    </body>
</html>
